<!-- home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Musician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Album Rating</th>
      <th scope="col">Instrument Type</th>
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    
  {% for album in albums %}
    <tr>
        <td>{{ album.musician.id_no }}</td>
        <td>
            <a href="{% url 'edit_musician' album.musician.id_no %}" class="btn btn-link">{{ album.musician.first_name }} {{ album.musician.last_name }}</a>
        </td>
        <td>{{ album.musician.email }}</td>
        <td>{{ album.rating }}</td>
        <td>{{ album.musician.instrument_type }}</td>
        <td>{{ album.album_name }}</td>
        <td>{{ album.release_date }}</td>
        <td><a href="{% url 'edit_album' album.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_entry' album.id %}" class="btn btn-danger">Delete</a> 
        </td>
    </tr>
   {% endfor %}

  </tbody>
</table>

{% endblock %}